.venv/
.aws-sam/
__pycache__/
*.pyc
samconfig.toml
.vscode/

# =========================
# Terraform
# =========================

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform plan files
*.tfplan
*.plan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional)
# Keep this if working in teams
# .terraform.lock.hcl